<div class="ant-row">
  <div class="ant-row--size">
    <div class="ant-row__top">
      <span>WELCOME</span>
      <h3 class="ant-row__top__title">We are #1 CrossFit gym</h3>
      <span>Be part of our premiun Course's community</span>
    </div>
    <div class="ant-row__bottom">
      <div *ngFor="let item of infoarray" class="info">
          <i class="anticon info__i" [ngClass]="item.icon"></i>
          <h6 class="info__title">{{ item.title }}</h6>
          <button nz-button nzType="default">Details</button>
      </div>
    </div>
  </div>
</div>