.ant-row__img{
    background-image: url("/assets/fondo.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    background-size: cover;
    width: 100%;
    height: 85vh;

}
.ant-row--size2{
    max-height: 85vh;
}

.ant-row--size{
    min-height: 40vh;
}

.ant-row__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 10px 0px;
}
.ant-row__bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.info__i{
    font-size: 40px;
}
.info__title{
    font-size: 13px;
    padding: 13px 0px 10px 0px;
}

.ant-row__top__title{
    font-size: 35px;
    margin-bottom: 0px;
}

.info-grupal{
    display: flex;
    align-items: center;
    justify-content: center;

}

.info-grupal__img{
    width: 100px;
}




*,
*::before,
*::after { 
  box-sizing: border-box;
}



img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}



.cards__item {
  display: flex;
  padding: 2rem;
  width: auto;
}


@media(min-width: 40rem) {
    .cards__item {
        width: auto;
    }
}
@media(min-width: 56rem) {
    .cards__item {
        width: auto;
    }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 280px;
  max-width: 280px;
  
}

.card:hover .card__image{ 
    filter: contrast(100%);
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  
}

.card__image:before {
    content: "";
	  display: block;
    padding-top: 56.25%; 
}
@media(min-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
    }
}


.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

