<div class="ant-row">
  <h3 style="text-align: center">Our Activities</h3>
    <ul class="info-grupal cards">
      <li *ngFor="let item of itemsGrupal" class="cards__item">
        <div class="card">
          <div class="card__image" [style.background-image]="'url(' + item.imageUrl + ')'"></div>
          <div class="card__content">
            <div class="card__title">{{item.title}}</div>
            <p class="card__text">This is the shorthand  </p>
            <button class="btn btn--block card__btn">Info</button>
          </div>
        </div>
      </li>
    </ul>
</div>